DJANGO_SECRET_KEY=replace-with-a-long-random-value
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=carcare.pk,www.carcare.pk
CSRF_TRUSTED_ORIGINS=https://carcare.pk,https://www.carcare.pk
POSTGRES_DB=carcare
POSTGRES_USER=carcare
POSTGRES_PASSWORD=replace-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
SECURE_SSL_REDIRECT=true
DEFAULT_FROM_EMAIL=Carcare <orders@carcare.pk>
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
